@font-face {
    font-family: 'P22 Monet';
    src: 
        url('p22-monet-regular.ttf') format('truetype');
    font-style: normal;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    background: black;
    font-family: 'Cormorant Garamond', serif;
}
.homep{
    font-family: 'P22 Monet';
}
h1{
    font-family: 'P22 Monet';
    font-size: 500%;
    display: flex;
    margin-top:40px;
    margin-bottom: 0px;
    justify-content: center;  /* horizontal center */
}
.overlay h1{
    font-size: 400%;
    font-weight: 500;
    margin-bottom: 0.01em;
    margin-top: 40px;
}
.overlay p{
    margin-top: 0.01em;
    font-size: 150%;
}
#background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    transition: none; /* instant change */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 50px;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}
nav a{
    font-family: 'P22 Monet';
    font-size: 200%;
    margin-right: 13px;
    text-decoration: none;
    position: relative;
}
.home a{
    font-size: 300%;
}
.home a::after {
    content: '';
    position: absolute;
    top: 70%;
    bottom: -4px;
    left: 0;
    width: 110%;
    height: 10px;
    background-image: var(--wave-image);
    background-repeat: repeat-x;
    background-size: auto 100%;
    animation: wave 1s infinite linear;
    pointer-events: none;
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
}

 nav:not(.home) {
    display: flex;
    justify-content: flex-end;
    position: static;
    top: 0;
    width: 97%;
    z-index: 1000;
}
.poverlay nav{
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.poverlay{
    position: fixed;
    inset: 0;         
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: auto;
}

.home{
    border: 30px solid transparent; /* create space for the frame */
    border-image: url('images/borderframe.png') 90 round;
    display: flex;
    justify-content: center;  /* horizontal center */
    align-items: center;      /* vertical center */
    height: 100vh;   
    flex-direction: column; 
    position: relative;
    box-sizing: border-box;
    padding: 50px; /* This gives room inside the frame */
    overflow: hidden;
}
.ps{
    height: calc(100vh - 200px);
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: -80px;
    margin-top: -50px;
}
.about p{
    flex: 1;
    border: 40px solid transparent;  
    border-image: url('images/rounded.png') 180 round; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.5); /* soft white */
    padding: 0.75em 1em;
    border-radius: 50px;
    backdrop-filter: blur(4px);
    text-align: center;
    font-size: 115%;
}
.one video:not(.plaque){
    border: 40px solid;
    border-image: url('images/borderthick.png') 180 round;
}
.one{
    width: 55vw;
    object-fit:cover;
}
.three img{
    background-color: saddlebrown;
    border-radius:60px;
    border: 40px solid;
    border-image: url('images/rounded.png') 130 round;
}
.three{
    width: 580px;
}
.two img{
    border: 40px solid;
    border-image: url('images/bordersimple.png') 130 round;
}
.two{
    width: 650px;
}
.four{
    width: 300px;
    padding-top: 100px;
}
.four img{
    border: 40px solid;
    border-image: url('images/borderframe1.png') 130 round;
} 
.five video{
    border: 40px solid;
    border-image: url('images/bordersimple.png') 130 round;
}
.six {
    padding-top: 100px;
    width: 20vw;
}
.six img{
    border: 40px solid;
    border-image: url('images/borderthick.png') 180 round;
}
.seven {
    padding-top: 100px;
    width: 20vw;
}
.seven img{
    border: 40px solid;
    border-image: url('images/borderthick.png') 180 round;
}

.gallery-item img, video {
    width: 100%;
    height: auto;
    display: block;
}
.carousel {
    position: relative;
    height: 100%;
    perspective: 1400px;
    overflow-x: hidden;
    overflow-y: visible;
}
.gallery {
  position: relative;
  width: 100%;
  height: 100%;
}
.gallery-item {
    position: absolute;
    text-align: center;
    margin: 10px; 
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    transition: transform 0.8s ease, opacity 0.8s ease;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.gallery-item img {
    width: 100%;
    height: auto;
}
.gallery-item.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  z-index: 2;
  pointer-events: auto;
}

.gallery-item.prev {
  transform: translate(-130%, -50%) scale(0.8);
  opacity: 0.4;
  z-index: 1;
}

.gallery-item.next {
  transform: translate(30%, -50%) scale(0.8);
  opacity: 0.4;
  z-index: 1;
}

.gallery-item.hidden {
  opacity: 0;
  z-index: 1;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 4rem;
  color: inherit;
  cursor: pointer;
  z-index: 10;
}
.text-panel {
    display: inline-block;
    padding: 0.6em 1em;
    border-radius: 1.5em;
}
.arrow.left { left: 20px; }
.arrow.right { right: 20px; }
.gallery-item p {
    margin-left: 40px;
    margin-top: 10px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 40px;
    width: 100%;
}

@media (max-width: 700px) {
    .ps {
      font-size: 70%;
    }
    .one, .two, .three, .four {
      width: 75%;
      padding-left: 0;
      padding-right: 50px;
    }
  }